### OSX ###
# General
.DS_Store

## User settings
xcuserdata/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings